.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.movieResults .title, .movieResults .id, .movieResults .rating, .movieResults .votes, .headers .header {
  flex: 1 0 30%;
  font-weight: bold;

}
